<p>card works!</p>
<div class="col">
    <div class="card border-warning mb-3">
      <img src="https://images.freeimages.com/images/small-previews/33d/kusbasi-1327458.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Meat title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class=" card-footer bg-transparent border-success">
        <button>+</button><samp>0</samp><button>-</button>
        </div>
    </div>
    </div>
  </div>
