
    <hr class="featurette-divider text-light">
      <footer class="container">
        <div class="col-in-footer">
            <ul>
                <ol class="titel-col text-light">נשמח לשמוע ממכם</ol>
                <hr class="featurette-divider text-light">
                <ol class="footer-row text-light">צור קשר</ol>
                <ol class="footer-row text-light"> אימייל shmolik1990@gmail.com</ol>
                <ol class="footer-row text-light"> © 2017–2021 Company JBH.</ol>
            </ul>
            <ul>
                <ol class="titel-col text-light">לינקים שימושיים</ol>
                <hr class="featurette-divider text-light">
                <ol class="footer-row text-light"> שאלות ותשובות</ol>
                <ol class="footer-row text-light"> חלקי הבקר</ol>
                <ol class="footer-row text-light">  תקנון האתר</ol>
                <ol class="footer-row text-light"> משלוחים</ol>
            </ul>
            <ul>
                <ol class="titel-col text-light">  המומלצים שלנו</ol>
                <hr class="featurette-divider text-light">
                <ol class="footer-row text-light"> המלצות כלליות</ol>
                
            </ul>

        </div>
        
      </footer>
    
    
    
          
      
    
