
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="nav-link text-light" routerLink="shoping-cart" href="#"> 
      <img *ngIf="!iconCart" src="assets\icons\SpottedBriskDuckbillplatypus-max-1mb.gif" height="40px">
      <img *ngIf="iconCart" src="assets\icons\cartshoging.gif" height="40px">

    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            אזור אישי
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item text-dark" href="#">הרשמה</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-dark" href="#">הסטוריית הזמנות</a></li>

          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">אודות</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled text-light" href="#" tabindex="-1" aria-disabled="true">מתכונים</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">מבצעים</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="submit">חיפוש</button>
      </form>
    </div>
  </div>
</nav>


