<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
      <div class="colums" id="navbarNavAltMarkup">
          <a class="nav-link text-light fw-bold" *ngFor="let i of headlines">{{i.name}}</a>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-align-bottom" viewBox="0 0 16 16">
            <rect width="4" height="12" x="6" y="1" rx="1"/>
            <path d="M1.5 14a.5.5 0 0 0 0 1v-1zm13 1a.5.5 0 0 0 0-1v1zm-13 0h13v-1h-13v1z"/>
          </svg>
                </div>
    </div>
  </nav>