.img{
    height: 90px;
    width: 90px;
}
.d-flex{
    margin: 1px;
}
.delete{
    padding-top: 46px;
}
.item-name{
    height: 70px;
    overflow: scroll;
    text-overflow: ellipsis;
    overflow-x: hidden;

}