<a routerLink="/" routerLinkActive="active"><h1> המשך בקניה </h1></a>

<div class="container">
    <div class="row">
    <ol class="list-group col-md-6" >
        <li *ngFor="let item of listShopingCart" class="list-group-item d-flex justify-content-between align-items-start">
        
          <div class="col-4 col-2">
            <img class="img" src={{item.img}} alt="" srcset="">
          </div>
       
          <div class="ms-2 me-auto col-7">
            <div class="row" > 
              <p class="badge bg-primary rounded-pill">₪{{item.price*item.amount}}---- {{item.amount}}</p>
            </div>
            <div class="fw-bold ">{{item.title}}</div>
            <div [ngClass]="item.name.length > 20 ? 'item-name' : ''">
            {{item.name}}
          </div>
       
          </div>
          <div class="col text-center">
            <br><button class="badge btn-outline-secondary" (click)="updeteamount(item.id,'ADD')">+</button>
            <br><button  class="badge btn-outline-secondary" (click)="updeteamount(item.id,'MINS')">-</button>

           <div class="btn btn-outline-danger" (click)="deleteItme(item)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg>
        </div>
        </div>
        
        </li>
     
      </ol>
<div class="col-md-6 ms-auto">
      <div class="row py-5 p-4 bg-white rounded shadow-sm">
        <div class="col-lg-6">
          <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">מימוש קופון</div>
          <div class="p-4">
            <p class="font-italic mb-4">אם ברשותך קופון אנא הכנס פרטים</p>
            <div class="input-group mb-4 border rounded-pill p-2">
              <input type="text" placeholder="הכנס קופון" aria-describedby="button-addon3" class="form-control border-0">
              <div class="input-group-append border-0">
                <button id="button-addon3" type="button" class="btn btn-dark px-4 rounded-pill" ><i class="fa fa-gift mr-2"></i></button>
              </div>
            </div>
          </div>
          <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">הערות לתשומת לב החנות</div>
          <div class="p-4">
            <p class="font-italic mb-4">אם יש לכם איזה משוב לגבי הקופון או כל דבר אחר הזן כאן בקצרה</p>
            <textarea name="" cols="30" rows="2" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">סיכום הזמנה </div>
          <div class="p-4">
            <p class="font-italic mb-4">עלויות ההזמנה והמשלוח בכפוף לערכים שהזנתם</p>
            <ul class="list-unstyled mb-4">
              <li class="d-flex justify-content-between py-3 border-bottom">
                <strong class="text-muted">סך הכל </strong><strong>{{price}}</strong>
              </li>
              <li class="d-flex justify-content-between py-3 border-bottom">
                <strong class="text-muted">משלוח</strong><strong>0.00</strong>
              </li>
              <li class="d-flex justify-content-between py-3 border-bottom">
                <strong class="text-muted">מע"מ</strong><strong>{{price * 0.17 | number}}</strong>
              </li>
              <li class="d-flex justify-content-between py-3 border-bottom">
                <strong class="text-muted">סך הכל כולל מע"מ</strong><strong></strong>
                <h5 class="font-weight-bold"></h5>
              </li>
            </ul><a routerLink='/payment' href="#" class="btn btn-dark rounded-pill py-2 btn-block">לקופה</a>
          </div>
        </div>
      </div>
      </div>
    </div>
</div>
